
# dependencies

**/node_modules


# testing
**/coverage

# uploads
uploads

# environment
.env

# tests
__tests__
__test__
**/*.test.ts
**/*.spec.ts
**/*.test.js
**/*.spec.js

#build
**/build

